:root {
	--color: rgb(30, 55, 153);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	height: 100%;
}

body {
	color: var(--foreground-rgb);
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

a {
	color: inherit;
	text-decoration: none;
}
